body{
    background-color: rgba(117, 53, 117, 0.279);
}

.new_navbar{
    background: linear-gradient(to left,rgb(232, 237, 164),rgb(239, 171, 237));
    position: relative;
}

.c_image{
    height: 90vh;
    object-fit: cover;
}

.about_img{
    height: 520px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px 10px rgb(255, 228, 245);
}

.css_custom{
    --primary_color : rgb(74, 74, 99);
    --bs-tooltip-bg:var(--primary_color);
    --bs-tooltip-color: var(--bs-white);
}

.container1{
    border: 2px solid black;
    box-shadow: 10px 10px 30px 20px rgb(255, 226, 255) ;
}
.main{
    color: blanchedalmond;
}